<div *ngIf="isDataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>


<div class="mb-3">
  <label for="filterText" class="form-label">Marka ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
  placeholder="Marka ismini giriniz">
</div>
<div *ngIf="filterText.length>1" class="alert alert-success">
  {{filterText}} aradınız.
</div>


<table *ngIf="isDataLoaded==true" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marka Adı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands | brandFilter:filterText" routerLink="/cars/brand/{{brand.id}}">
        <td>{{brand.id}}</td>
        <td>{{brand.brandName}}</td>
      </tr>
    </tbody>
  </table>